<template>
    <div class="w3-light-grey">

        <!-- Sidebar -->
        <nav class="w3-sidebar w3-collapse w3-white" style="z-index:3; width: 300px;">

            <br>

            <!-- Sidebar header -->
            <div class="w3-container w3-row">

                <div class="w3-col">
                    <img class="w3-circle w3-margin-right" src="https://www.w3schools.com/w3images/avatar2.png" style="width: 46px" />
                </div>

                <div class="w3-col">
                    <p>Welkom, <strong>Admin</strong></p>
                </div>

            </div>

            <hr>

            <!-- Sidebar title -->
            <div class="w3-container">
                <h5>Dashboard</h5>
            </div>

            <!-- Sidebar items -->
            <div class="w3-bar-block">
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-users fa-fw"></i>
                    Algemeen
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-eye fa-fw"></i>
                    Traffic
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-cog fa-fw"></i>
                    Settings
                </a>
            </div>

        </nav>

        <!-- Page content -->
        <div class="w3-main" style="margin-left: 300px;">

            <!-- Dashboard headerd -->
            <header class="w3-container" style="padding-top: 22px;">
                <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
            </header>

            <!-- Table management -->
            <div class="w3-row-padding w3-margin-bottom">

                <!-- Order management -->
                <div class="w3-quarter">
                    <div class="w3-container w3-purple w3-padding-16" @click="$router.push('/admin/orders')">
                        <i class="fa fa-comment w3-xxxlarge"></i>
                        <h4>Bestellingen</h4>
                    </div>
                </div>

                <!-- Customer management -->
                <div class="w3-quarter">
                    <div class="w3-container w3-blue w3-padding-16" @click="$router.push('/admin/customers')">
                        <i class="fa fa-users w3-xxxlarge"></i>
                        <h4>Klanten</h4>
                    </div>
                </div>

                <!-- Products management -->
                <div class="w3-quarter">
                    <div class="w3-container w3-teal w3-padding-16" @click="$router.push('/admin/products')">
                        <i class="fa fa-diamond w3-xxxlarge"></i>
                        <h4>Producten</h4>
                    </div>
                </div>

                <!-- ProductTypes management -->
                    <div class="w3-quarter">
                        <div class="w3-container w3-orange w3-padding-16"  @click="$router.push('/admin/productTypes')">
                            <i class="fa fa-share-alt w3-xxxlarge"></i>
                            <h4>Product Soorten</h4>
                        </div>
                    </div>

            </div>

            <hr>

            <!-- Event feed -->
            <div class="w3-container">
                <h5>Feed</h5>

                <table class="w3-table-all">
                    <tbody>
                        <tr>
                            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                            <td>Nieuwe gebruiker</td>
                            <td><i>21/06 15:47</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-user w3-text-green w3-large"></i></td>
                            <td>Nieuwe bestelling</td>
                            <td><i>21/06 14:21</i></td>
                        </tr>
                         <tr>
                            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                            <td>Nieuwe gebruiker</td>
                            <td><i>21/06 13:12</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-user w3-text-green w3-large"></i></td>
                            <td>Nieuwe bestelling</td>
                            <td><i>21/06 10:50</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                            <td>Nieuwe Beoordeling</td>
                            <td><i>21/06 9:57</i></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <hr>

            <!-- Newest orders -->
            <div class="w3-container">
                <h5>Nieuwste bestellingen</h5>

                <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                    <tr>
                        <th>Klant ID</th>
                        <th>Datum</th>
                        <th>Totaal</th>
                    </tr>
                    <tr v-for="(order, index) in orders.slice(0, 7)">
                        <td>{{ order.user_id }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>€ {{ order.order_price }}</td>
                    </tr>
                </table>

                <br>

                <button class="w3-button w3-dark-grey">Alle bestellingen <i class="fa fa-arrow-right"></i></button>
            </div>

            <hr>

        </div>
    </div>
</template>
<script>
    import dummyapi from "../../dummyapi/dummyapi";

    export default {
        data() {
            return {
                orders: [],
            }
        },

        mounted() {
            this.orders = dummyapi.getOrders();
        }
    }
</script>
