<template>
    <div class="w3-light-grey">

        <!-- Sidebar -->
        <nav class="w3-sidebar w3-collapse w3-white" style="z-index:3; width: 300px;">

            <br>

            <!-- Sidebar header -->
            <div class="w3-container w3-row">

                <div class="w3-col">
                    <img class="w3-circle w3-margin-right" src="https://www.w3schools.com/w3images/avatar2.png" style="width: 46px" />
                </div>

                <div class="w3-col">
                    <p>Welkom, <strong>Admin</strong></p>
                </div>

            </div>

            <hr>

            <!-- Sidebar title -->
            <div class="w3-container">
                <h5>Dashboard</h5>
            </div>

            <!-- Sidebar items -->
            <div class="w3-bar-block">
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-users fa-fw"></i>
                    Algemeen
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-eye fa-fw"></i>
                    Traffic
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-cog fa-fw"></i>
                    Settings
                </a>
            </div>

        </nav>

        <!-- Page content -->
        <div class="w3-main" style="margin-left: 300px;">

            <!-- Dashboard headerd -->
            <header class="w3-container" style="padding-top: 22px;">
                <h3><b><i class="fa fa-dashboard"></i>  Product Dashboard</b></h3>
            </header>

            <br>

            <!-- Add order -->
            <div class="w3-container">
                <div class="w3-border">

                    <div class="w3-container w3-teal">
                        <h2>Product toevoegen</h2>
                    </div>
                    <form class="w3-container">
                        <p>
                            <label>Productsoort</label>
                            <select class="w3-select w3-border">
                                <option v-for="productType in productTypes">{{ productType.product_type_name }}</option>
                            </select></p>
                        <p>
                            <label>Product naam</label>
                            <input class="w3-input w3-border" name="first" type="text" placeholder="Naam"></p>
                        <p>
                            <label>Product prijs</label>
                            <input class="w3-input w3-border" name="first" type="text" placeholder="Prijs"></p>
                        <p>
                            <label>Product text</label>
                            <textarea class="w3-input w3-border" placeholder="Text"></textarea>
                        <p>
                            <button class="w3-button w3-teal" @click="$router.push('/admin/productTypes')" type="button">Toevoegen</button></p>
                    </form>

                </div>
            </div>

            <br>

        </div>
    </div>
</template>
<script>
    import dummyapi from "../../../dummyapi/dummyapi";

    export default {
        data() {
            return {
                productTypes: [],
            }
        },

        mounted() {
            this.productTypes = dummyapi.getProductTypes();
        }
    }
</script>
