<template>
    <div class="w3-light-grey">

        <!-- Sidebar -->
        <nav class="w3-sidebar w3-collapse w3-white" style="z-index:3; width: 300px;">

            <br>

            <!-- Sidebar header -->
            <div class="w3-container w3-row">

                <div class="w3-col">
                    <img class="w3-circle w3-margin-right" src="https://www.w3schools.com/w3images/avatar2.png" style="width: 46px" />
                </div>

                <div class="w3-col">
                    <p>Welkom, <strong>Admin</strong></p>
                </div>

            </div>

            <hr>

            <!-- Sidebar title -->
            <div class="w3-container">
                <h5>Dashboard</h5>
            </div>

            <!-- Sidebar items -->
            <div class="w3-bar-block">
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-users fa-fw"></i>
                    Algemeen
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-eye fa-fw"></i>
                    Traffic
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-cog fa-fw"></i>
                    Settings
                </a>
            </div>

        </nav>

        <!-- Page content -->
        <div class="w3-main" style="margin-left: 300px;">

            <!-- Dashboard headerd -->
            <header class="w3-container" style="padding-top: 22px;">
                <h3><b><i class="fa fa-dashboard"></i>  Product Dashboard</b></h3>
            </header>

            <br>

            <!-- Add order -->
            <div class="w3-container">
                <div class="w3-container w3-border w3-padding-16">
                    <h3 style="margin-top: 0px !important;">Nieuwe product maken</h3>
                    <button class="w3-button w3-teal" @click="$router.push({ name: 'AdminMakeProduct'})">+ Product</button>
                </div>
            </div>

            <br>

            <!-- Search orders -->
            <div class="w3-container">

                <div class="w3-half w3-border-righ w3-teal">
                    <!-- Search by customer ID -->
                    <div class="w3-container w3-teal">
                        <h3>Zoeken op productsoort ID</h3>
                    </div>
                    <form class="w3-container">
                        <p></p>
                        <label>productsoort ID</label>
                        <input class="w3-input w3-border" type="text" />
                        <p></p>
                        <button class="w3-button w3-border w3-teal" type="button">Zoek op productsoort ID</button>
                        <p></p>
                    </form>
                </div>

                <div class="w3-half w3-border-left w3-teal">
                    <!-- Search by date -->
                    <div class="w3-container w3-teal">
                        <h3>Zoeken op productnaam</h3>
                    </div>
                    <form class="w3-container">
                        <p></p>
                        <label>Productnaam</label>
                        <input class="w3-input w3-border" type="text" />
                        <p></p>
                        <button class="w3-button w3-border w3-teal" type="button">Zoek op productnaam</button>
                        <p></p>
                    </form>
                </div>

            </div>

            <br>

            <!-- Newest orders -->
            <div class="w3-container">
                <h5>Bestellingen</h5>

                <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
                    <tr class="w3-teal">
                        <th>Productsoort ID</th>
                        <th>Productnaam</th>
                        <th>prijs</th>
                        <th class="w3-center">Actie</th>
                    </tr>
                    <tr v-for="(product, index) in products">
                        <td>{{ product.product_type_id }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>€ {{ product.product_price }}</td>
                        <td class="w3-right-align">
                            <button class="w3-button w3-green" type="button" @click="$router.push({ name: 'AdminViewProduct', params: { productId: product.id } })">Bekijken</button>&nbsp;
                            <button class="w3-button w3-blue" type="button" @click="$router.push({ name: 'AdminEditProduct', params: { productId: product.id } })">Edit</button>&nbsp;
                            <button class="w3-button w3-red" type="button">Verwijderen</button>
                        </td>
                    </tr>
                </table>

                <br>
            </div>

        </div>
    </div>
</template>
<script>
    import dummyapi from "../../../dummyapi/dummyapi";

    export default {
        data() {
            return {
                products: [],
            }
        },

        mounted() {
            this.products = dummyapi.getProducts();
        }
    }
</script>
