<template>
    <div class="w3-light-grey">

        <!-- Sidebar -->
        <nav class="w3-sidebar w3-collapse w3-white" style="z-index:3; width: 300px;">

            <br>

            <!-- Sidebar header -->
            <div class="w3-container w3-row">

                <div class="w3-col">
                    <img class="w3-circle w3-margin-right" src="https://www.w3schools.com/w3images/avatar2.png" style="width: 46px" />
                </div>

                <div class="w3-col">
                    <p>Welkom, <strong>Admin</strong></p>
                </div>

            </div>

            <hr>

            <!-- Sidebar title -->
            <div class="w3-container">
                <h5>Dashboard</h5>
            </div>

            <!-- Sidebar items -->
            <div class="w3-bar-block">
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-users fa-fw"></i>
                    Algemeen
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-eye fa-fw"></i>
                    Traffic
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-cog fa-fw"></i>
                    Settings
                </a>
            </div>

        </nav>

        <!-- Page content -->
        <div class="w3-main" style="margin-left: 300px;">

            <!-- Dashboard headerd -->
            <header class="w3-container" style="padding-top: 22px;">
                <h3><b><i class="fa fa-dashboard"></i>  Productsoort Dashboard</b></h3>
            </header>

            <br>

            <!-- Add order -->
            <div class="w3-container">
                <div class="w3-container w3-border w3-padding-16">
                    <h3 style="margin-top: 0px !important;">Productsoort Aanpassen</h3>
                    <button class="w3-button w3-orange">Aanpassen</button>
                </div>
            </div>

            <br>

            <!-- Add order -->
            <div class="w3-container">
                <div class="w3-border">

                    <div class="w3-container w3-orange">
                        <h2>Productsoort details</h2>
                    </div>
                    <form class="w3-container">
                        <p>
                            <label>Productsoort naam</label>
                            <input class="w3-input w3-border" name="product_type_name" type="text" placeholder="Naam" readonly></p>
                        <p>
                            <label>Productsoort text</label>
                            <textarea class="w3-input w3-border" name="product_type_body" placeholder="Text" readonly></textarea></p>
                    </form>

                </div>
            </div>

            <br>

        </div>
    </div>
</template>
<script>
    export default {

    }
</script>
