<template>
    <div>
        <navigation></navigation>
        <transition name="fade" mode="out-in">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
    import Navigation from "./components/Navigation";

    export default {
        components: {
            Navigation
        }
    }
</script>
