<template>
    <div class="w3-light-grey">

        <!-- Sidebar -->
        <nav class="w3-sidebar w3-collapse w3-white" style="z-index:3; width: 300px;">

            <br>

            <!-- Sidebar header -->
            <div class="w3-container w3-row">

                <div class="w3-col">
                    <img class="w3-circle w3-margin-right" src="https://www.w3schools.com/w3images/avatar2.png" style="width: 46px" />
                </div>

                <div class="w3-col">
                    <p>Welkom, <strong>Admin</strong></p>
                </div>

            </div>

            <hr>

            <!-- Sidebar title -->
            <div class="w3-container">
                <h5>Dashboard</h5>
            </div>

            <!-- Sidebar items -->
            <div class="w3-bar-block">
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-users fa-fw"></i>
                    Algemeen
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-eye fa-fw"></i>
                    Traffic
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-cog fa-fw"></i>
                    Settings
                </a>
            </div>

        </nav>

        <!-- Page content -->
        <div class="w3-main" style="margin-left: 300px;">

            <!-- Dashboard headerd -->
            <header class="w3-container" style="padding-top: 22px;">
                <h3><b><i class="fa fa-dashboard"></i>  Bestellingen Dashboard</b></h3>
            </header>

            <br>

            <div class="w3-container">

                <!-- Select Customer -->
                <div class="w3-border w3-half">
                    <div class="w3-container w3-purple">
                        <h2>Selecteer klant</h2>
                    </div>
                    <form class="w3-container">
                        <p>
                            <label>Klant naam</label>
                            <select class="w3-select w3-border">

                            </select></p>
                    </form>
                </div>

                <!-- Add product -->
                <div class="w3-border w3-half">
                    <div class="w3-container w3-purple">
                        <h2>Product toevoegen</h2>
                    </div>
                    <form class="w3-container">
                        <p>
                            <label>Product</label>
                            <select class="w3-select w3-border">

                            </select></p>
                        <p>
                            <label>Aantal</label>
                            <input class="w3-input w3-border" v-model="selectedAmount" type="number" min="1"></p>

                        <button class="w3-button w3-purple" type="button">+ Product</button>

                        <p></p>
                    </form>
                </div>
            </div>

            <br>

            <!-- Add products -->
            <div class="w3-container">
                <div class="w3-border">
                    <div class="w3-container w3-purple">
                        <h2>Producten in bestelling</h2>
                    </div>

                    <div class="w3-container">

                        <p></p>

                        <table class="w3-table-all">
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>Productprijs</th>
                                <th>aantal</th>
                                <th>totaal</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Totaal</td>
                                <td>€ </td>
                            </tr>
                        </table>
                    </div>
                    <p></p>

                    <button class="w3-button w3-purple" type="button">Aanpassen</button>

                    <p></p>
                </div>

                <p></p>
            </div>
        </div>
    </div>
</template>
<script>
    import dummyapi from "../../../dummyapi/dummyapi";

    export default {

    }
</script>
