<template>
    <div class="w3-light-grey">

        <!-- Sidebar -->
        <nav class="w3-sidebar w3-collapse w3-white" style="z-index:3; width: 300px;">

            <br>

            <!-- Sidebar header -->
            <div class="w3-container w3-row">

                <div class="w3-col">
                    <img class="w3-circle w3-margin-right" src="https://www.w3schools.com/w3images/avatar2.png" style="width: 46px" />
                </div>

                <div class="w3-col">
                    <p>Welkom, <strong>Admin</strong></p>
                </div>

            </div>

            <hr>

            <!-- Sidebar title -->
            <div class="w3-container">
                <h5>Dashboard</h5>
            </div>

            <!-- Sidebar items -->
            <div class="w3-bar-block">
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-users fa-fw"></i>
                    Algemeen
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-eye fa-fw"></i>
                    Traffic
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-cog fa-fw"></i>
                    Settings
                </a>
            </div>

        </nav>

        <!-- Page content -->
        <div class="w3-main" style="margin-left: 300px;">

            <!-- Dashboard headerd -->
            <header class="w3-container" style="padding-top: 22px;">
                <h3><b><i class="fa fa-dashboard"></i>  Bestellingen Dashboard</b></h3>
            </header>

            <br>


            <div class="w3-container">

                <!-- Select Customer -->
                <div class="w3-border w3-half">
                    <div class="w3-container w3-purple">
                        <h2>Selecteer klant</h2>
                    </div>
                    <form class="w3-container">
                    <p>
                        <label>Klant naam</label>
                        <select class="w3-select w3-border">
                            <option v-for="customer in customers">{{ customer.name }}</option>
                        </select></p>
                    </form>
                </div>

                <!-- Add product -->
                <div class="w3-border w3-half">
                    <div class="w3-container w3-purple">
                        <h2>Product toevoegen</h2>
                    </div>
                    <form class="w3-container">
                        <p>
                            <label>Product</label>
                            <select v-model="selectedProduct" class="w3-select w3-border">
                                <template v-for="product in products">
                                    <option>{{ product.id }}</option>
                                </template>

                            </select></p>
                        <p>
                            <label>Aantal</label>
                            <input class="w3-input w3-border" v-model="selectedAmount" type="number" min="1"></p>

                        <button class="w3-button w3-purple" @click="addOrderLine(selectedProduct, selectedAmount)" type="button">+ Product</button>

                        <p></p>
                    </form>
                </div>
            </div>

            <br>

            <!-- Add products -->
            <div class="w3-container">
                <div class="w3-border">
                    <div class="w3-container w3-purple">
                        <h2>Producten in bestelling</h2>
                    </div>

                    <div class="w3-container">

                        <p></p>

                        <table class="w3-table-all">
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>Productprijs</th>
                                <th>aantal</th>
                                <th>totaal</th>
                            </tr>
                            <tr v-for="(orderLine, index) in orderLines">
                                <td><button class="w3-button w3-red" @click="deleteItemFromOrder(index)">&times;</button></td>
                                <td>{{ orderLine.product.product_name }}</td>
                                <td>€ {{ orderLine.product.product_price }}</td>
                                <td>
                                    <div class="w3-half">
                                        <input class="w3-input w3-border-0" type="number" v-model.number="orderLine.amount"  min="1" value="orderLine.amount">
                                    </div>
                                </td>
                                <td>€ {{ orderLine.amount * orderLine.product.product_price }}</td>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Totaal</td>
                                <td>€ {{ orderTotal }}</td>
                            </tr>
                        </table>
                    </div>

                    <p></p>

                    <div class="w3-container">
                        <button class="w3-button w3-purple" @click="addOrderLine()" type="button">+ Product</button>
                    </div>

                    <p></p>
                </div>

                <p></p>

                <button class="w3-button w3-purple" @click="$router.push('/admin/orders')" type="button">Toevoegen</button>

                <p></p>
            </div>
        </div>
    </div>
</template>
<script>
    import dummyapi from "../../../dummyapi/dummyapi";

    export default {
        data() {
            return {
                productTypes: [],
                products: [],
                customers: [],
                orderLines: [],
                selectedProduct: 0,
                selectedAmount: 0,
            }
        },

        methods: {
            addOrderLine: function (selectedProduct, selectedAmount) {
                for (let i=0; i<this.products.length; i++){
                    if(this.products[i].id == selectedProduct) {
                        this.orderLines.push({product: this.products[i], amount: selectedAmount});
                    }
                }
            },

            deleteItemFromOrder: function (index) {
                this.orderLines.splice(index, 1);
            }
        },

        computed: {
            orderTotal: function(){
                let total = 0;

                for(let i=0; i<this.orderLines.length; i++){
                    total += this.orderLines[i].amount * this.orderLines[i].product.product_price;
                }

                return total;
            }
        },

        mounted() {
            this.productTypes = dummyapi.getProductTypes();
            this.products = dummyapi.getProducts();
            this.customers = dummyapi.getUsers();
        }
    }
</script>
