<template>
    <div class="w3-light-grey">

        <!-- Sidebar -->
        <nav class="w3-sidebar w3-collapse w3-white" style="z-index:3; width: 300px;">

            <br>

            <!-- Sidebar header -->
            <div class="w3-container w3-row">

                <div class="w3-col">
                    <img class="w3-circle w3-margin-right" src="https://www.w3schools.com/w3images/avatar2.png" style="width: 46px" />
                </div>

                <div class="w3-col">
                    <p>Welkom, <strong>Admin</strong></p>
                </div>

            </div>

            <hr>

            <!-- Sidebar title -->
            <div class="w3-container">
                <h5>Dashboard</h5>
            </div>

            <!-- Sidebar items -->
            <div class="w3-bar-block">
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-users fa-fw"></i>
                    Algemeen
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-eye fa-fw"></i>
                    Traffic
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-cog fa-fw"></i>
                    Settings
                </a>
            </div>

        </nav>

        <!-- Page content -->
        <div class="w3-main" style="margin-left: 300px;">

            <!-- Dashboard headerd -->
            <header class="w3-container" style="padding-top: 22px;">
                <h3><b><i class="fa fa-dashboard"></i>  Bestelling Dashboard</b></h3>
            </header>

            <br>

            <!-- Add order -->
            <div class="w3-container">
                <div class="w3-container w3-border w3-padding-16">
                    <h3 style="margin-top: 0px !important;">Nieuwe bestelling maken</h3>
                    <button class="w3-button w3-purple" @click="$router.push({ name: 'AdminMakeOrder'})">+ Bestelling</button>
                </div>
            </div>

            <br>

            <!-- Search orders -->
            <div class="w3-container">

                <div class="w3-half w3-border-right w3-purple">
                    <!-- Search by customer ID -->
                    <div class="w3-container w3-purple">
                        <h3>Zoeken op klant ID</h3>
                    </div>
                    <form class="w3-container">
                        <p></p>
                        <label>Klant ID</label>
                        <input class="w3-input w3-border" type="text" />
                        <p></p>
                        <button class="w3-button w3-border w3-purple" type="button">Zoek op klant ID</button>
                        <p></p>
                    </form>
                </div>

                <div class="w3-half w3-border-left w3-purple">
                    <!-- Search by date -->
                    <div class="w3-container w3-purple">
                        <h3>Zoeken op datum</h3>
                    </div>
                    <form class="w3-container">
                        <p></p>
                        <label>Datum</label>
                        <input class="w3-input w3-border" type="date" />
                        <p></p>
                        <button class="w3-button w3-border w3-purple" type="button">Zoek op datum</button>
                        <p></p>
                    </form>
                </div>

            </div>

            <br>

            <!-- Newest orders -->
            <div class="w3-container">
                <h5>Bestellingen</h5>

                <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
                    <tr class="w3-purple">
                        <th>Klant ID</th>
                        <th>Datum</th>
                        <th>Totaal</th>
                        <th class="w3-center">Actie</th>
                    </tr>
                    <tr v-for="(order, index) in orders">
                        <td>{{ order.user_id }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>€ {{ order.order_price }}</td>
                        <td class="w3-right-align">
                            <button class="w3-button w3-green" type="button" @click="$router.push({ name: 'AdminViewOrder', params: { orderId: order.id } })">Bekijken</button>&nbsp;
                            <button class="w3-button w3-blue" type="button" @click="$router.push({ name: 'AdminEditOrder', params: { orderId: order.id } })">Edit</button>&nbsp;
                            <button class="w3-button w3-red" type="button">Verwijderen</button>
                        </td>
                    </tr>
                </table>

                <br>
            </div>

        </div>
    </div>
</template>
<script>
    import dummyapi from "../../../dummyapi/dummyapi";

    export default {
        data() {
            return {
                orders: [],
            }
        },

        mounted() {
            this.orders = dummyapi.getOrders();
        }
    }
</script>
