<template>
    <div class="w3-light-grey">

        <!-- Sidebar -->
        <nav class="w3-sidebar w3-collapse w3-white" style="z-index:3; width: 300px;">

            <br>

            <!-- Sidebar header -->
            <div class="w3-container w3-row">

                <div class="w3-col">
                    <img class="w3-circle w3-margin-right" src="https://www.w3schools.com/w3images/avatar2.png" style="width: 46px" />
                </div>

                <div class="w3-col">
                    <p>Welkom, <strong>Admin</strong></p>
                </div>

            </div>

            <hr>

            <!-- Sidebar title -->
            <div class="w3-container">
                <h5>Dashboard</h5>
            </div>

            <!-- Sidebar items -->
            <div class="w3-bar-block">
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-users fa-fw"></i>
                    Algemeen
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-eye fa-fw"></i>
                    Traffic
                </a>
                <a class="w3-bar-item w3-button w3-padding" href="#">
                    <i class="fa fa-cog fa-fw"></i>
                    Settings
                </a>
            </div>

        </nav>

        <!-- Page content -->
        <div class="w3-main" style="margin-left: 300px;">

            <!-- Dashboard headerd -->
            <header class="w3-container" style="padding-top: 22px;">
                <h3><b><i class="fa fa-dashboard"></i>  Klanten Dashboard</b></h3>
            </header>

            <br>

            <!-- Add order -->
            <div class="w3-container">
                <div class="w3-container w3-border w3-padding-16">
                    <h3 style="margin-top: 0px !important;">Nieuwe klant maken</h3>
                    <button class="w3-button w3-blue" @click="$router.push({ name: 'AdminMakeCustomer'})">+ Klant</button>
                </div>
            </div>

            <br>

            <!-- Search orders -->
            <div class="w3-container">

                <div class="w3-half w3-border-right">
                    <!-- Search by customer ID -->
                    <div class="w3-container w3-blue">
                        <div class="w3-container w3-blue">
                            <h3>Zoeken op klant ID</h3>
                        </div>
                        <form class="w3-container">
                            <p></p>
                            <label>Klant ID</label>
                            <input class="w3-input w3-border" type="text" />
                            <p></p>
                            <button class="w3-button w3-border w3-blue" type="button">Zoek op klant ID</button>
                            <p></p>
                        </form>
                    </div>
                </div>

                <div class="w3-half w3-border-left">
                    <!-- Search by date -->
                    <div class="w3-container w3-blue">
                        <div class="w3-container w3-blue">
                            <h3>Zoeken op naam</h3>
                        </div>
                        <form class="w3-container">
                            <p></p>
                            <label>Naam</label>
                            <input class="w3-input w3-border" type="text" />
                            <p></p>
                            <button class="w3-button w3-border w3-blue" type="button">Zoek op naam</button>
                            <p></p>
                        </form>
                    </div>
                </div>

            </div>

            <br>

            <!-- Newest orders -->
            <div class="w3-container">
                <h5>Klanten</h5>

                <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
                    <tr class="w3-blue">
                        <th>Naam</th>
                        <th>Email</th>
                        <th class="w3-center">Actie</th>
                    </tr>
                    <tr v-for="(customer, index) in customers">
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.email }}</td>
                        <td class="w3-right-align">
                            <button class="w3-button w3-green" type="button" @click="$router.push({ name: 'AdminViewCustomer', params: { customerId: customer.id } })">Bekijken</button>&nbsp;
                            <button class="w3-button w3-blue" type="button" @click="$router.push({ name: 'AdminEditCustomer', params: { customerId: customer.id } })">Edit</button>&nbsp;
                            <button class="w3-button w3-red" type="button">Verwijderen</button>
                        </td>
                    </tr>
                </table>

                <br>
            </div>

        </div>
    </div>
</template>
<script>
    import dummyapi from "../../../dummyapi/dummyapi";

    export default {
        data() {
            return {
                customers: [],
            }
        },

        mounted() {
            this.customers = dummyapi.getUsers();
        }
    }
</script>
