<template>
    <div class="w3-content" style="max-width:1200px">

        <!-- Sidebar -->
        <div class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3; width: 250px; margin-top: 40px;">
            <div class="w3-container w3-display-container w3-padding-16">
                <h3 class="w3-wide"><b>Biesvocaatje</b></h3>
            </div>
        </div>


        <!-- Page content -->
        <div class="w3-main" style="margin-left: 250px">

            <!-- Top header -->
            <header class="w3-container">
                <p class="w3-left w3-xlarge" style="margin-bottom: 0 !important;">Bestelling details</p>
                <div class="w3-container" style="padding-left: 0 !important;">
                    <p class="w3-text-grey" >Winkelwagen</p>
                </div>
            </header>

            <!-- ShoppingCart details -->
            <div class="w3-container">
                <table class="w3-table-all" style="border-bottom: none !important;">
                    <tr>
                        <th></th>
                        <th>Product Naam</th>
                        <th>Product Prijs</th>
                        <th>Aantal</th>
                        <th>Prijs</th>
                    </tr>
                    <tr v-for="(orderProduct, index) in orderProducts">
                        <td>
                            <button class="w3-button w3-red" @click="deleteItemFromShoppingCart(index)">&times;</button>
                        </td>
                        <td style="padding-top: 17px">{{ orderProduct.product.product_name }}</td>
                        <td style="padding-top: 17px">€ {{ orderProduct.product.product_price }}</td>
                        <td>
                            <div class="w3-half">
                                <input class="w3-input w3-border-0" type="number" v-model.number="orderProduct.amount"  min="1" value="shoppingCartItem.amount">
                            </div>
                        </td>
                        <td style="padding-top: 17px">€ {{ orderProduct.product.product_price * orderProduct.amount }}</td>
                    </tr>
                    <tr class="w3-topbar w3-border-grey">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="padding-top: 17px; padding-bottom: 17px;">Totaal</td>
                        <td style="padding-top: 17px; padding-bottom: 17px;">€ {{ shoppingCartTotal }}</td>
                    </tr>
                </table>
            </div>

            <!-- Customer details-->
            <div class="w3-container">
                <p class="w3-xlarge">Je contactgegevens</p>

                <form>
                    <p></p>

                    <div class="w3-row">
                        <div class="w3-half" style="padding-right: 5px;">
                            <label>Voornaam</label>
                            <input class="w3-input" v-model="customerDetails.profile_first_name" name="profile_first_name" type="text" placeholder="Voornaam">
                        </div>
                        <div class="w3-half" style="padding-left: 5px;">
                            <label>Achternaam</label>
                            <input class="w3-input" v-model="customerDetails.profile_last_name" name="profile_last_name" type="text" placeholder="Achternaam">
                        </div>
                    </div>

                    <p></p>

                    <div class="w3-row">
                        <label>Adres</label>
                        <input class="w3-input" v-model="customerDetails.profile_address1" name="profile_address1" type="text" placeholder="Adres">
                    </div>

                    <p></p>

                    <div class="w3-row">
                        <label>Adres toevoeging</label>
                        <input class="w3-input" v-model="customerDetails.profile_address2" name="profile_address2" type="text" placeholder="Adres">
                    </div>

                    <p></p>

                    <div class="w3-row">
                        <div class="w3-half" style="padding-right: 5px;">
                            <label>Postcode</label>
                            <input class="w3-input" v-model="customerDetails.profile_postal_code" name="profile_postal_code" type="text" placeholder="Postcode">
                        </div>
                        <div class="w3-half" style="padding-left: 5px;">
                            <label>Stad</label>
                            <input class="w3-input" v-model="customerDetails.profile_city" name="profile_city" type="text" placeholder="Stad">
                        </div>
                    </div>

                    <p></p>

                    <div class="w3-row">
                        <div class="w3-half" style="padding-right: 5px;">
                            <label>GSM</label>
                            <input class="w3-input" v-model="customerDetails.profile_gsm" name="profile_gsm" type="text" placeholder="GSM">
                        </div>
                        <div class="w3-half" style="padding-left: 5px;">
                            <label>Telefoon</label>
                            <input class="w3-input" v-model="customerDetails.profile_telephone" name="profile_telephone" type="text" placeholder="Telefoon">
                        </div>
                    </div>

                    <p></p>

                    <div class="w3-border-top" style="border-color: #9e9e9e !important">

                        <p></p>

                        <router-link :to="{ name: 'OrderConfirmation', query: { customer: customerDetails }}">
                            <button class="w3-button w3-black w3-block" type="button">Bestelling afronden</button>
                        </router-link>


                    </div>

                    <p></p>

                </form>

            </div>

        </div>

    </div>
</template>

<script>
    import ShoppingCart from "../components/ShoppingCart";

    export default {
        components: {
            ShoppingCart
        },

        data() {
            return {
                orderProducts: [],
                customerDetails: {}
            }
        },

        methods: {
            deleteItemFromShoppingCart: function(index) {
                this.orderProducts.splice(index, 1);
                const parsed = JSON.stringify(this.orderProducts);
                localStorage.setItem('shoppingCartItems', parsed);
            }
        },

        mounted() {
            if (localStorage.getItem('shoppingCartItems')) {
                try {
                    this.orderProducts = JSON.parse(localStorage.getItem('shoppingCartItems'));
                } catch (e) {
                    localStorage.removeItem('shoppingCartItems');
                }
            }
        },

        computed: {
            shoppingCartTotal: function(){
                let total = 0;

                if(this.orderProducts.length)

                for(let i=0; i<this.orderProducts.length; i++){
                    total += this.orderProducts[i].amount * this.orderProducts[i].product.product_price;
                }

                return total;
            }
        },
    }
</script>
