<template>

    <div class="w3-content" style="max-width:1200px">

        <!-- Sidebar -->
        <div class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3; width: 250px; margin-top: 40px;">
            <div class="w3-container w3-display-container w3-padding-16">
                <h3 class="w3-wide"><b>Biesvocaatje</b></h3>
            </div>
        </div>

        <!-- Page content -->
        <div class="w3-main" style="margin-left: 250px">

            <!-- Top header -->
            <header class="w3-container">
                <p class="w3-left w3-xlarge" style="margin-bottom: 0 !important;">Jouw bestelling</p>
                <div class="w3-container" style="padding-left: 0 !important;">
                    <p class="w3-text-grey" >Producten</p>
                </div>
            </header>

            <!-- ShoppingCart details -->
            <div class="w3-container">
                <table class="w3-table w3-striped w3-bordered" style="border-bottom: none !important;">
                    <tr>
                        <th></th>
                        <th>Product Naam</th>
                        <th>Product Prijs</th>
                        <th>Aantal</th>
                        <th>Prijs</th>
                    </tr>
                    <tr v-for="(orderProduct, index) in orderProducts">
                        <td class="w3-center"><img src="https://www.w3schools.com/w3images/jeans1.jpg"style="width:60px"></td>
                        <td style="padding-top: 17px">{{ orderProduct.product.product_name }}</td>
                        <td style="padding-top: 17px">€ {{ orderProduct.product.product_price }}</td>
                        <td style="padding-top: 17px">{{ orderProduct.amount }}</td>
                        <td style="padding-top: 17px">€ {{ orderProduct.product.product_price * orderProduct.amount }}</td>
                    </tr>
                    <tr class="w3-topbar w3-border-grey">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="padding-top: 17px; padding-bottom: 17px;">Totaal</td>
                        <td style="padding-top: 17px; padding-bottom: 17px;">€ {{ shoppingCartTotal }}</td>
                    </tr>
                </table>
            </div>

            <!-- Customer details-->
            <div class="w3-container">
                <p class="w3-xlarge">Je contactgegevens</p>

                <div class="w3-card-4">

                    <div class="w3-container w3-cell" style="padding-right: 0 !important;">
                        <p></p>
                        <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" class="w3-left w3-circle" style="width:60px">
                    </div>

                    <div class="w3-container w3-cell">
                        <p></p>

                        <p><strong>Adres:</strong></p>
                        <p>{{ customer.profile_last_name }}&nbsp;{{ customer.profile_first_name }}<br>
                            {{ customer.profile_address1 }}<br>
                            {{ customer.profile_postal_code }}&nbsp;{{ customer.profile_city }}
                        </p>

                        <p><strong>Contact:</strong></p>
                        <p>GSM: {{ customer.profile_gsm }}<br>
                            Telefoon: {{customer.profile_telephone}}
                        </p>

                    </div>
                </div>

                <div class="w3-right-align w3-padding-16">
                    <router-link>
                        <button class="w3-button w3-black w3-hover-green">Bestelling bevestigen</button>
                    </router-link>
                </div>
            </div>

        </div>

    </div>

</template>

<script>
    export default {

        data() {
            return {
                orderProducts: [],
                customer: {},
            }
        },

        mounted(){
            let customerData = this.$route.query.customer;

            this.customer = customerData;

            if (localStorage.getItem('shoppingCartItems')) {
                try {
                    this.orderProducts = JSON.parse(localStorage.getItem('shoppingCartItems'));
                } catch (e) {
                    localStorage.removeItem('shoppingCartItems');
                }
            }
        },

        computed: {
            shoppingCartTotal: function(){
                let total = 0;

                if(this.orderProducts.length)

                    for(let i=0; i<this.orderProducts.length; i++){
                        total += this.orderProducts[i].amount * this.orderProducts[i].product.product_price;
                    }

                return total;
            }
        },
    }
</script>
