<template>
    <div class="w3-content" style="max-width:1200px">

        <!-- ShoppingCart -->
        <shopping-cart :newProduct="productToAdd"
                       :showHide="blockStyle"
                       v-on:childToParent="hideShoppingCart"
        ></shopping-cart>

        <!-- Sidebar -->
        <div class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3; width: 250px; margin-top: 40px;">
            <div class="w3-container w3-display-container w3-padding-16">
                <h3 class="w3-wide"><b>Biesvocaatje</b></h3>
            </div>
        </div>

        <!-- Page content -->
        <div class="w3-main" style="margin-left: 250px">

            <!-- Top header -->
            <header class="w3-container">
                <p class="w3-left w3-xlarge" style="margin-bottom: 0 !important;">{{ selectedProductType.product_type_name }}</p>
                <p class="w3-right w3-xlarge" style="margin-bottom: 0 !important;">
                    <i @click="showShoppingCart()" class="fa fa-shopping-cart w3-button"></i>
                </p>
                <div class="w3-container" style="padding-left: 0 !important;">
                    <p class="w3-text-grey" >{{ selectedProduct.product_name }}</p>
                </div>
            </header>

            <!-- Product Body -->
            <div class="w3-container w3-text-grey">
                <div class="w3-row">
                    <div class="w3-third">
                        <img src="https://www.w3schools.com/w3images/jeans1.jpg" style="width:100%">
                    </div>
                    <div class="w3-rest w3-padding" style="padding-top: 0 !important">
                        <p style="margin-top: 0 !important;">{{ selectedProduct.product_body }}</p>
                        <h1>€ {{ amountPrice }}</h1>
                        <form>
                            <p><label>Aantal</label>
                                <input v-model.number="amount" class="w3-input" type="number" min="1"></p>
                            <br>
                            <button class="w3-btn w3-black" type="button" @click="sendProductToShoppingCart(selectedProduct, amount)">+ winkelwagen</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    import dummyapi from "../dummyapi/dummyapi";
    import ShoppingCart from "../components/ShoppingCart";

    export default {
        components: {
            ShoppingCart
        },

        data() {
            return {
                amount: 1,
                productTypes: [],
                products: [],
                selectedProductTypeId: 0,
                selectedProductId: 0,
                selectedProductType: [],
                selectedProduct: [],
                productToAdd: [],
                blockStyle: '',
            }
        },

        methods: {
            sendProductToShoppingCart(selectedProduct, amount) {
                this.productToAdd = {
                    'product': selectedProduct, 'amount': amount
                }
            },

            showShoppingCart(){
                this.blockStyle = 'block';
            },

            hideShoppingCart(){
                this.blockStyle = 'none';
            }
        },

        mounted() {
            this.products = dummyapi.getProducts();
            this.productTypes = dummyapi.getProductTypes();

            if (typeof this.$route.params.productId !== 'undefined') {
                this.selectedProductId = this.$route.params.productId;
            }
        },

        watch: {
            selectedProductId: function() {
                for (let i=0; i<this.products.length; i++) {
                    if(this.products[i].id == this.selectedProductId) {
                        this.selectedProduct = this.products[i];
                    }
                }

                this.selectedProductTypeId = this.selectedProduct.product_type_id;

                for (let i=0; i<this.productTypes.length; i++) {
                    if(this.productTypes[i].id = this.selectedProductTypeId) {
                        this.selectedProductType = this.productTypes[i];
                    }
                }
            }
        },

        computed: {
            amountPrice: function() {
                return this.amount * this.selectedProduct.product_price;
            }
        }
    }
</script>
