<template>
    <div>
        <product-list></product-list>
    </div>
</template>

<script>
    import ProductList from "../components/ProductList";

    export default {
        components: {
            ProductList
        }
    }
</script>
