<template>
    <div class="w3-bar w3-black">
        <div class="w3-bar-item w3-padding w3-hover-gray"><router-link to="/">Home</router-link></div>
        <div class="w3-bar-item w3-padding w3-hover-gray"><router-link to="/recipes">Recepten</router-link></div>
        <div class="w3-bar-item w3-padding w3-hover-gray"><router-link to="/questions">Heb je een vraag?</router-link></div>
        <div class="w3-bar-item w3-padding w3-hover-gray"><router-link to="/reviews">Schrijf een beoordeling</router-link></div>
        <div class="w3-bar-item w3-padding w3-hover-gray"><router-link to="/webshop">Webshop</router-link></div>

        <div class="w3-bar-item w3-red w3-padding w3-hover-gray w3-right"><router-link to="/admin">Admin</router-link></div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Navigation mounted.')
        }
    }
</script>
