<template>
    <div class="w3-content" style="max-width:1200px">

        <!-- ShoppingCart -->
        <shopping-cart :newProduct="productToAdd"
                       :showHide="blockStyle"
                       v-on:childToParent="hideShoppingCart"
        ></shopping-cart>

        <!-- Sidebar -->
        <div class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3; width: 250px; margin-top: 40px;">

            <div class="w3-container w3-display-container w3-padding-16">
                <h3 class="w3-wide"><b>Biesvocaatje</b></h3>
            </div>

            <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight: bold">
                <ul>
                    <template v-for="{ product_type_name, id } in productTypes">
                        <router-link :to="{
                            name: 'ShowProductType',
                            params: { productTypeId: id }
                        }">
                            <li class="w3-bar-item w3-button"
                                :key="id">
                                <!-- :class="{ active: id === activeProductTypeId }" -->
                                <!-- @click="changeActiveProductId(id)" -->

                                {{ product_type_name }}
                            </li>
                        </router-link>
                    </template>
                </ul>
            </div>

        </div>

        <!-- Page content -->
        <div class="w3-main" style="margin-left: 250px">

            <!-- Top header -->
            <header class="w3-container w3-xlarge">
                <p class="w3-left">{{ activeProductType.product_type_name }}</p>
                <p class="w3-right">
                    <i @click="showShoppingCart()" class="fa fa-shopping-cart w3-button"></i>
                </p>
            </header>

            <!-- ProductType body -->
            <div class="w3-container">
                <p>{{ activeProductType.product_type_body }}</p>
            </div>


            <div class="w3-container w3-text-grey">
                <p v-if="show">{{ activeProductsCount }} items</p>
            </div>

            <!-- Product grid -->
            <div class="w3-row w3-grayscale">
                <template v-for="activeProduct in activeProducts">
                    <router-link :to="{
                        name: 'ShowProduct',
                        params: {
                            productTypeId: activeProductTypeId,
                            productId: activeProduct.id
                        }
                    }">
                        <div class="w3-col l3 s6 w3-hover">
                            <div class="w3-container">
                                <div class="w3-display-container">
                                    <img src="https://www.w3schools.com/w3images/jeans1.jpg" style="width:100%">
                                    <div class="w3-display-middle w3-display-hover">
                                        <button class="w3-button w3-black">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                                <p>{{ activeProduct.product_name }}<br><b>${{ activeProduct.product_price }}</b></p>
                            </div>
                        </div>
                    </router-link>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    import dummyapi from "../dummyapi/dummyapi";
    import ShoppingCart from "./ShoppingCart";

    export default {
        components: {
            ShoppingCart
        },

        data() {
            return {
                productToAdd: [],
                products: [],
                productTypes: [],
                activeProducts: [],
                activeProductType: [],
                activeProductsCount: 0,
                activeProductTypeId: 0,
                show: false,
                blockStyle: '',
            }
        },

        mounted() {
            this.products = dummyapi.getProducts();
            this.productTypes = dummyapi.getProductTypes();

            if (typeof this.$route.params.productTypeId !== 'undefined')
            {
                this.activeProductTypeId = this.$route.params.productTypeId;
            }
        },

        watch: {
            $route: function(to, from) {
                this.activeProductTypeId = to.params.productTypeId;
            },

            activeProductTypeId: function() {
                this.changeActiveProductId(this.activeProductTypeId);
            }
        },

        methods: {
            changeActiveProductId(id) {
                this.activeProducts = [];
                this.activeProductType = [];
                this.activeProductTypeId = id;
                this.show = true;

                for (let i=0; i<this.products.length; i++) {
                    if(this.products[i].product_type_id == this.activeProductTypeId) {
                        this.activeProducts.push(this.products[i]);
                    }
                }

                for (let i=0; i<this.productTypes.length; i++) {
                    if(this.productTypes[i].id == this.activeProductTypeId) {
                        this.activeProductType = this.productTypes[i];
                    }
                }

                this.activeProductsCount = this.activeProducts.length;

                this.$set(this.activeProducts);
                this.$set(this.activeProductType);
            },

            showShoppingCart(){
                this.blockStyle = 'block';
            },

            hideShoppingCart(){
                this.blockStyle = 'none';
            }
        }
    }
</script>
