<template>

    <!-- ShoppingCart content -->
    <div id="shoppingCartContainer" class="w3-modal" v-bind:style="{ display: showHide }" style="z-index: 5;">
        <div class="w3-modal-content">

            <header class="w3-container w3-black">
                <span @click="closeShoppingCartContainer()" class="w3-button w3-xlarge w3-display-topright">&times;</span>
                <h2>Winkelwagen</h2>
            </header>

            <table class="w3-table w3-striped w3-bordered" style="border-bottom: none !important;">
                <tr>
                    <th></th>
                    <th>Product Naam</th>
                    <th>Product Prijs</th>
                    <th>Aantal</th>
                    <th>Prijs</th>
                </tr>
                <tr v-for="(shoppingCartItem, index) in shoppingCartItems">
                    <td>
                        <button class="w3-button w3-red" @click="deleteItemFromShoppingCart(index)">&times;</button>
                    </td>
                    <td style="padding-top: 17px">{{ shoppingCartItem.product.product_name }}</td>
                    <td style="padding-top: 17px">€ {{ shoppingCartItem.product.product_price }}</td>
                    <td>
                        <div class="w3-half">
                            <input class="w3-input w3-border-0" type="number" v-model.number="shoppingCartItem.amount"  min="1" value="shoppingCartItem.amount">
                        </div>
                    </td>
                    <td style="padding-top: 17px">€ {{ shoppingCartItem.product.product_price * shoppingCartItem.amount }}</td>
                </tr>
                <tr class="w3-topbar w3-border-grey">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="padding-top: 17px; padding-bottom: 17px;">Totaal</td>
                    <td style="padding-top: 17px; padding-bottom: 17px;">€ {{ shoppingCartTotal }}</td>
                </tr>
            </table>
            <div class="w3-right-align w3-padding-16" style="padding-right: 16px !important;">
                <router-link :to="{ name: 'OrderDetails' }">
                    <button class="w3-button w3-black w3-hover-green">Bestelling plaatsen</button>
                </router-link>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: ['newProduct', 'showHide'],

        data(){
            return {
                amount: [],
                shoppingCartItems: [],
            }
        },

        computed: {
            shoppingCartTotal: function(){
                let total = 0;

                for(let i=0; i<this.shoppingCartItems.length; i++){
                    total += this.shoppingCartItems[i].amount * this.shoppingCartItems[i].product.product_price;
                }

                return total;
            }
        },

        methods: {
            closeShoppingCartContainer: function() {
                this.$emit('childToParent');
            },

            deleteItemFromShoppingCart: function(index) {
                this.shoppingCartItems.splice(index, 1);
                const parsed = JSON.stringify(this.shoppingCartItems);
                localStorage.setItem('shoppingCartItems', parsed);
            }
        },

        watch: {
            newProduct: function(){
                this.shoppingCartItems.push(this.newProduct);
                const parsed = JSON.stringify(this.shoppingCartItems);
                localStorage.setItem('shoppingCartItems', parsed);
            },

            showHide: function(){
                this.cartBlockStyle = this.showHide;
            },
        },

        mounted() {
            if (localStorage.getItem('shoppingCartItems')) {
                try {
                    this.shoppingCartItems = JSON.parse(localStorage.getItem('shoppingCartItems'));
                } catch (e) {
                    localStorage.removeItem('shoppingCartItems');
                }
            }

            console.log('ShoppingCart mounted.');
        }
    }
</script>
